packages/
DatabaseEngine/bin
DatabaseEngine/obj
DatabaseEngineTest/bin
DatabaseEngineTest/obj
FormsModel/bin
FormsModel/obj
OwinServer/bin
OwinServer/obj
test/
TestResults
WorkflowAPI/bin
WorkflowAPI/obj
WorkflowEngine/bin
WorkflowEngine/obj
WorkflowEngine.Test/obj
WorkflowEngine.Test/bin
WorkflowNetAPI/bin
WorkflowNetAPI/obj
WorkflowSystem/bin
WorkflowSystem/obj
